:root 
{
    --color-primary: #83BD75;
}

body
{
    color: black;
    text-align: center;
    font-size: 15px;
}

html
{
    font-size: 62.5%;
}

.header
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 2rem;
    margin: 0 auto;
    background-color: var(--color-primary);
    height: auto;
    font-weight: bold;
    align-items: center;
}

.header p
{
    margin-right: 20px;
}

.blog-post
{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    font-size: 2rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    width: 50%;
    text-align: left;
    margin: 0 auto;
 }

.blog-post__hijo
{
    padding: 10px;
}

.footer
{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    background-color: #4E944F;
    font-size: 2rem;
}